<body>
    
    <table border="0" width="100%" cellpadding=>
        <tr>
            <td>
                <img src="/img/bahia salvador.jpg" width="50%">
                <br>
                <font size="16"><b> Hospedagem Bahia Salvador</b></font><br>
                <font size="16" color="red"> R$350</font><br>
                <a asp-action="Compras">
                    <button type="submit" class="btn btn-primary">Comprar</button>
                </a>
                <br>
            </td>
        <tr>
            <br>
            <td>
                <img src="/img/bahia.jpg" width="50%">
                <br>
                <font size="16"><b> Hospedagem Bahia</b></font><br>
                <font size="16" color="red"> R$350</font><br>
                <a asp-action="Compras">
                    <button type="submit" class="btn btn-primary">Comprar</button>
                </a>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <img src="/img/minas.jpg" width="50%">
                <br>
                <font size="16"><b> Hospedagem Minas Gerais</b></font><br>
                <font size="16" color="red"> R$500</font><br>
                <a asp-action="Compras">
                    <button type="submit" class="btn btn-primary">Comprar</button>
                </a>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <img src="/img/rj.jpeg" width="50%">
                <br>
                <font size="16"><b> Hospedagem Rio de Janeiro</b></font><br>
                <font size="16" color="red"> R$350</font><br>
                <a asp-action="Compras">
                    <button type="submit" class="btn btn-primary">Comprar</button>
                </a>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <img src="/img/sp-santos.png" width="50%">
                <br>
                <font size="16"> <b>Hospedagem Santos Sao Paulo</b></font><br>
                <font size="16" color="red"> R$550</font><br>
                <a asp-action="Compras">
                    <button type="submit" class="btn btn-primary">Comprar</button>
                </a>
            </td>
        </tr>
        </tr>
    </table>

    <footer id="rodape">&copy; AV Diogo S</footer>
</body>