@{
    ViewData["Title"] = "Home Page";
}


<h1>Venham Viajar conosco</h1>
<p>Viagens em Otimos preços e com exelentes profissionais</p><br>
<p>"Eu tô voando alto
Sigo na minha luta e trabalhando dobrado, é
Eu tô voando alto"</p>
<img src="/img/super wings verm.jpeg"  width="25%" />