<body>
   

    <div class="txt">
        <h1>Ide Jovem</h1>
        Muitas pessoas encaram ele como um “cupom” pela vantagem de pagar a meia entrada em shows, teatros, eventos culturais e jogos. E o melhor? Você não precisa pagar nada para adquirir um, só preencher alguns requisitos.

        <h1>Quais são os requisitos para se ter o ID Jovem?</h1>
        As condições são bem simples e segui-las não é tão difícil, pelo menos até a emissão do documento. Você precisa:

        Ter entre 15 e 29 anos. Passando disso, o documento pode ser desativado ou até inutilizado, de acordo com seu cadastro.
        Estar inscrito no Cadastro Único do Governo Federal. Essa é a parte mais importante. Apenas os inscritos podem pedir pelo benefício e, se você ainda não tem vínculo, procure o Centro de Referência de Assistência Social ou o setor responsável do Cadastro Único da sua cidade.
        Ter o Cadastro Único – atualizado – há pelo menos 24 meses (2 anos!).
        Obter renda familiar igual ou no máximo de dois salários mínimos.
        Saber qual é o seu NIS.
        E se eu tiver alguma coisa faltando ou eu não preencher os requisitos totalmente?
        Nesse caso, será necessário entrar em contato com a Secretaria de Desenvolvimento Social e sanar o seu problema. Mas nos demais casos, é possível resolver tudo sem sair de casa ou só entrando em contato com a unidade governamental correspondente mais próxima. Veja algumas dúvidas frequentes abaixo:

        O que é e como lido com o Cadastro Único para fazer meu ID Jovem?
        O Cadastro Único (ou CadÚnico) é um instrumento do governo para identificar as famílias de baixa renda no país. Geralmente tem quem já faz parte de programas como o Bolsa Família, por exemplo.

        Para cadastrar e/ou atualizar seus dados, tudo o que você precisa fazer é levar seus documentos até a Prefeitura ou o CRAS mais próximo. É um procedimento rápido que não toma seu tempo. Você passará por análise e, estando tudo certo, receberá um cartão com os dados do CadÚnico.

        Mas, vale lembrar: você deve ter esse cartão atualizado e mante-lo pelo menos por 2 anos para conseguir o ID Jovem.

        <h1>O que é o NIS e como faço para emitir?</h1>
        O NIS é um código individual para reconhecer quem faz parte do CadÚnico.

        Mas, você pode encontra-lo facilmente impresso na sua carteira de trabalho junto ao PIS ou no Cartão Cidadão, por exemplo, se você já fizer parte de algum programa.

        Por via de regra, qualquer um pode pedir esse número de identificação junto aos dados da empresa onde trabalha, mesmo ele sendo parte dos empregadores. É só comparecer à uma Caixa Econômica Federal e pedir o necessário para finalizar o processo.

        Mas, se você não quiser fazer isso e trabalha formalmente, peça ao seu patrão para dar entrada.

        Caso ele se recuse, você pode dar entrada assim mesmo por uma denúncia. Afinal, quem não tiver o NIS não pode aplicar para a emissão do ID Jovem.

        Como faço essa denúncia?
        Solicite uma justificativa formal da empresa do porquê da recusa. Nesse documento deve constar data, hora, local e motivo da não admissão.

        Depois, você pode fazer uma denúncia na ouvidoria da ANTT, pelo site da agência, ou falar com alguém no Disque 166.

        Por ser um documento de benefício, o ID Jovem é restrito a estudantes? Como funciona?
        Não. Qualquer um pode aplicar para a emissão, contanto que esteja dentro dos requisitos. Não há custo de emissão e você pode fazer isso online.

        Mas, cuidado, ele expira de três em três meses (180 dias), que é quando você precisa mostrar se ainda preenche os requisitos de utilização e se houveram mudanças de cadastro (se você casou e mudou de nome, por exemplo).

        Tenho tudo, como faço para emitir o ID Jovem?
        Primeiro confira se tem toda a documentação necessária mesmo. Se houverem alterações ou divergências nos seus documentos, algo pode dar errado.

        Se você casou recentemente, trocou o nome por algum motivo e/ou encontrou algum erro no que foi colocado nos seus documentos pessoais, atualize tanto o documento quanto o cadastro no CadÚnico o quão antes possível.

        Divergências dificilmente permitem a conclusão de algum cadastro, os quais precisam estar em dia para a emissão do ID Jovem.

        Caso os dados do CadÚnico não sejam coerentes com o seu documento oficial, procure o CRAS mais próximo e solicite a correção.

        Se não houverem problemas, clique aqui e seja redirecionado para uma página de emissão do ID Jovem. Serão solicitados:

        Número do NIS (que pode ser consultado junto ao CadÚnico no mesmo site ou clicando aqui e preenchendo o formulário);
        Nome completo, sem abreviações;
        O nome da mãe, também completo e sem abreviações; e
        Sua data de nascimento.
    </div>
    <footer id="rodape">&copy; AV Diogo S</footer>
</body>